 
@import 'bootstrap';
@import 'font_awesome';
html{
    font-size: 100%;
} 
body {
    -webkit-font-smoothing: antialiased;
    background-image: url(../images/bg_1.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position-y: -700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .p-l-40 {
      padding-left: 40px !important;
    }
  }
  
  .logo_1_desk {
    width: 100px;
  }
  
  .ct_1 {
    text-align: center;
    height: 500px;
    color: #ffffff;
  }
  
  .sub_ct_1 {
    position: relative;
    top: 15%;
  }
  
  .ct_3 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
  }
  
  .sub_ct_1  .title {
    font-size: 60px;
  }
  
  .ct_2 {
    background-color: #122a3a;
    height: 300px;
  }
  
  .sub_ct_2 {
    position: relative;
    top: -130px;
    
  }

  .sub_ct_2>div{
    @extend .row ;
  }
  div#block-card-section ,  
  div#block-card-section-1 ,
  div#block-card-section-2 ,
  div#block-card-section-2-2 {
    @extend .col;
    @extend .col-lg-4;
    @extend .col-md-12;
  }
  div#block-card-section div,  
  div#block-card-section-1 div,
  div#block-card-section-2 div,
  div#block-card-section-2-2 div   { 
    @extend .card-body; 
    cursor: pointer;
  } 
     .card-body {
      padding-top: 40px;
      padding-bottom: 55px;
      padding-left: 30px;
      padding-right: 30px; 
      margin-bottom: 10px;
      top: 0px;
      background-color: #ffffff;
      text-align: center; 
        a   svg {
          fill: #ffc107;
          width: 120px!important;
        }
        h5 {
          color: #ffc107;
          padding-top: 20px;
          
        }
        p {
          font-size: 14px;
        }
      } 
      .card-body_hover { 
      
        transition:all 0.5s ease-in-out;
        -webkit-transition:all 0.2s ease-in-out;
        position: relative;
        top: -40px;
        transform: scale(0.9555); 
        background-color: #ffc107; 
          a   svg {
            fill: #000000;
           
          }
          h5 {
            color: #000000;
            padding-top: 20px;
            
          }
          p {
            font-size: 14px;
          }
        } 
       
      div#block-card-section div:hover{
       @extend .card-body_hover;
      }
      div#block-card-section-1 div:hover{
        @extend .card-body_hover;
       }
       div#block-card-section-2 div:hover{
        @extend .card-body_hover;
       }
       div#block-card-section-2-2 div:hover{
        @extend .card-body_hover;
       }


     .round-light {
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 100px;
    &:hover {
      color: #ffffff;
    }
  }

  .book_btn{
    display: inline-block;
  }
 
  
  .bg-white {
    background-color: #ffffff;
  }
  

  .round-light {
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 100px;
    &:hover {
      color: #ffffff;
    }
  }
 
  
  .bg-white {
    background-color: #ffffff;
  }
  
     
  
 
  
  .y-tube {
    width: 60%;
    margin: 0 auto;
    height: 350px;
    background-color: #333333;
  }
  
  .initial_mm {
    margin-top: 40px;
  }
  
  .ct_3  {
     h2 {
      text-transform: uppercase;
      padding-top: 20px;
    }
    p {
      padding-bottom: 40px;
    }
  }
  .logo_branding{
    float: left;
    margin: 10px 0px;
      img{
        max-width: 100px;
      }
  }
  .pr_ct_res{
    text-align: center;
  }
  .container_res_nav {
    display: inline-block;
    nav{
       
      ul{
         padding: 0px;
         margin: 0px;
        
        li{
           float: right;
           padding:20px 0px 0px 0px;
           margin: 0px;
           a{
             text-transform: uppercase;
             display: inline-block;
             padding: 10px;
             font-weight: 600;
             color:rgba(255, 255, 255, 0.5);
           }
        }
      }
    } 
  }
  nav ul li a:hover{
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
  }
 
  .container_res_nav nav ul li a.is-active{
      color:rgba(255, 255, 255, 1);
    }
  
  .ct_4 {
    padding-top: 40px;
    overflow-x: hidden;
    padding-bottom: 90px;
    background-color: #ffffff;
  }
  
  .card_room {
    padding-left: 20px;
    cursor: pointer;
    height: 290.67px;
    overflow: hidden;
  }
  
  .title_Our {
    padding-bottom: 40px;
  }
  
  .card_room > img {
    width: 105%;
  }
  
  .title_room {
    position: relative;
    top: 0px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .card_room:hover .title_room {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    top: -50px;
  }
  
  .ct_5 {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 80px;
    > .container {
      padding-top: 80px;
    }
    h3 {
      letter-spacing: 3px;
    }
  }
  
  .outline-btn-round {
    border: 2px solid #000;
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
  }
  
  .footer {
    background-color: #122a3a;
    color: #ffffff;
    > .container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    ul {
      float: left;
      margin: 0px;
      padding-left: 20px;
      padding-right: 20px; 
      li {
        margin: 0px;
        letter-spacing: 1px;
        list-style: none;
        font-size: 14px;
        padding: 0px;
        &.title {
          font-size: 18px;
          font-weight: 600;
        }
        a {
          color: #ffffff;
        }
      }
    }
  }
  a.st-toggle{
    font-size: 38px;
    display: none;
    width: 100%;
    margin-top: -200px;
    
    text-align: right;
    color: #ffffff;
    i {
      position: relative;
      top: 100px;
      cursor: pointer;
      right: 20px;;

    }
    
  }
 
  a.st-toggle:hover{
    color: #ffffff;
  }
  .underline {
    text-decoration: underline;
  }
 
  #block-devtest-account-menu ul li a{
color: #ffffff;
    font-size: 18px;
  }
  @media (max-width: 980px) {
    .navbar {
      display: block;
    }
    #block-youtube-tittle h2{
      font-size: 18px;
    }
    a.st-toggle{ 
      display: inline-block;
    }
    .logo_branding{
      float: none;
      padding-top: 10px;
      img{
        
        max-width: 200px;
      }
    }
    
    .container_res_nav {
      display: inline-block;
      nav{ 
        display: none;
        ul{
           padding: 0px;
           margin: 0px; 
          li{
             float: none;
             text-align: right;
             padding:20px 0px 0px 0px;
             margin: 0px;
             a{
               text-transform: uppercase;
               display: inline-block;
               padding: 10px;
               font-weight: 600;
               color:rgba(255, 255, 255, 0.5);
             }
          }
        }
      } 
    }
    .ct_4{
      padding-bottom: 20px;
    }
    .ct_1{
      height: 400px;
    }
    .cn_xs {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    .logo_1_desk {
      display: none;
    }
    .logo_centered_xs {
      margin: 0 auto;
      width: 200px;
      text-align: center;
    }
    .navbar-nav .nav-link {
      text-align: right;
    }
    .navbar-dark .navbar-toggler {
      width: 100%;
      float: right;
      text-align: right;
      margin: 0 auto;
      border: 0px;
      color: #ffffff;
      span {
        font-size: 30px;
        float: right;
        position: relative;
        top: 40px;
      }
    }
    body {
      .p-l-40 {
        padding-left: 20px !important;
      }
      background-size: inherit;
    }
    .cardSH {
      margin-bottom: 10px;
    }
    #block-tittle-head h1{
      font-size: 32px;
    }
    .book_btn{
      display: none;
    }
    .ct_2 {
      height: 1050px;
    }
    .ct_3 > .title {
      font-size: 20px;
    }
    .sub_ct_1 {
      > .title {
        font-size: 35px;
      }
      top: 15%;
    }
    .y-tube {
      width: 100%;
      height: auto;
    }
    .card_room {
      padding-left: 0px;
      height: auto;
    }
    .title_room {
      font-size: 26px;
      top: -50px;
    }
    .footer ul {
      text-align: center;
      padding-bottom: 10px;
      li {
        &.title {
          font-size: 23px;
          padding-bottom: 20px;
        }
        font-size: 20px;
        padding-bottom: 10px;
      }
      br {
        display: none;
      }
    }
    #first {
      display: none;
    }
    #second {
      order: 4;
    }
    #third {
      order: 1;
    }
    #fourth {
      display: none;
    }
  }

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix{
 height: 1%;
 overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
 min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
 font-size: 0;
}

.clr{clear:both;}






