 <a href="#" class="st-toggle" ><i class="fa fa-bars"></i></a>
 <div class="container-fluid pr_ct_res"> 
  <div class="container container_res_nav">
    
      {{page.site_branding}}
  </div>
 </div>
 
 
 <div class="container-layout"> 
     <div class="container ct_1">
        <div class="sub_ct_1"> 
             {{ page.header }}
            <button class="btn btn-warning round-light book_btn "  data-toggle="modal" data-target="#modalExample">BOOK NOW <img src="themes/custom/devtest/images/ic_arrow1.png"></button>
        </div>
    </div>

   <div class="container_fluid ct_2">
        <div class="container sub_ct_2">
         
            {{page.card_sec2}}
             
      </div>
  </div>
  
    <div class="container_fluid bg-white">
        <div class="container ct_3">
            <hr>
           {{page.y_tube}}
            <div class="y-tube">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/npFAmRqHpQc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <hr class="initial_mm">
        </div>
    </div>

  
    <div class="container_fluid ct_4">
        <div class="container  text-center ">
            <h3 class="title_Our">OUR ROOM</h3>
            <div class="row">
                <div class="col-md-12 col-lg-3  text-center">
                    <div class="card_room">
                        <img src="themes/custom/devtest/images/h1.jpg">
                        <h5 class="title_room">VIP ROOM &nbsp;&nbsp;&nbsp; <img src="themes/custom/devtest/images/ic_arrow1.png"></h5>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3  text-center">
                    <div class="card_room">
                        <img src="themes/custom/devtest/images/h2.jpg">
                        <h5 class="title_room">VIP ROOM &nbsp;&nbsp;&nbsp; <img src="themes/custom/devtest/images/ic_arrow1.png"></h5>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3  text-center">
                    <div class="card_room">
                        <img src="themes/custom/devtest/images/h3.jpg">
                        <h5 class="title_room">VIP ROOM &nbsp;&nbsp;&nbsp; <img src="themes/custom/devtest/images/ic_arrow1.png"></h5>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3  text-center">
                    <div class="card_room">
                        <img src="themes/custom/devtest/images/h4.jpg">
                        <h5 class="title_room">VIP ROOM &nbsp;&nbsp;&nbsp; <img src="themes/custom/devtest/images/ic_arrow1.png"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="container_fluid ct_5">
        <div class="container text-center">
            <h3>JOIN OR SUBCRIBERS</h3>
            <p> exercitation ullamco laboris irure dolor in mco laboris irure dolor in </p>
            <button class="btn btn-default outline-btn-round">CLICK HERE TO SUBCRIBE</button>
        </div>
    </div>
    <div class="container_fluid footer">
        <div class="container">
            <div class="row">
                <ul class="col-md-12 col-lg-3  " id="first">
                    <li class="title">Location</li>
                    <br>
                    <li>899 Overlook Drive Livonia, IN 48150 899 Overlook Drive Livonia, IN 48150</li>
                    <br>
                    <li><a href="#" class="underline">See it map  <img src="themes/custom/devtest/images/ic_arrow1.png"> </a></li>
                </ul>
                <ul class="col-md-12 col-lg-3  p-l-40" id="second">
                    <li class="title">Company</li>
                    <br>
                    <li><a href="#"> Our Mision</a></li>
                    <li><a href="#"> Mision</a></li>
                    <li><a href="#"> Journal</a></li>
                    <li><a href="#"> Carrers</a></li>
                </ul>
                <ul class="col-md-12 col-lg-3 "  id="third">
                    <li class="title">Support</li>
                    <br>
                    <li><a href="#"> Our Mision</a></li>
                    <li><a href="#"> FAQ</a></li>
                    <li><a href="#"> Contact Us</a></li>
                    <li><a href="#"> Policies</a></li>
                </ul>
                <ul class="col-md-12 col-lg-3  " id="fourth">
                    <li class="title">Location</li>
                    <br>
                    <li>899 Overlook Drive Livonia, IN 48150 899 Overlook Drive Livonia, IN 48150</li>
                    <br>
                    <li><a href="#">Template made by Pixelhint.com </a></li>
                </ul>
            </div>
        </div>
    </div>
   <div class="modal fade" id="modalExample">
        <div class="modal-dialog">
            <div class="modal-content"> 
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

            </div>
        </div>
    </div>

</div>{# /.layout-container #}
